# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Environment variables
.env
.env.*

# Database
db.sqlite3

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db